Dear Mr/Ms {{ surname }},<br/><br/>
Thank you for registering on our supplier website!<br/><br/>
Your log-in details are:<br/>
Log-in Name: {{ email }}<br/>
<br/>
With the following link you will activate your user account.<br/>
<a target="_blank" href="{{ simUrl }}/registration/confirmation/{{ verificationToken }}">To your account activation</a><br/>
On the activation page you´ll find a link to the supplier portal.<br/>
Please log in and fill in the supplier profile. This is where you can provide us with general information about your company.<br/>
<br/><br/>
This e-mail has been generated automatically. Please do not use the reply function to answer.<br/><br/>
{{ signature }}
